<footer>
    <div class="inner clearfix">
        <div class="infooter clearfix">
            <div class="box box1 l">
                <div class="logo" title="上海微校">
                    <!--上海微校-->
                </div>
                <p class="intro">
                    上海大规模智慧学习平台（上海微校）在2014年被上海市委和市政联合发布的《上海市推进智慧城市建设行动计划（2014-2016年）》中作为重点专项明确列入行动计划。16年底，上海大规模智慧学习平台成为《上海市教育信息化“十三五”规划》中明确指出的重点举措项目。《规划》指出，通过上海大规模智慧学习平台等的建设，为教育教学和教育管理决策提供有力支撑。
                </p>
            </div>
            <div class="box box2 l">
                <div class="link f14">
                    <div class="touchus">联系我们</div>
                    <div class="mail">
                        <i class="icon icon-mail"></i>service@shsmile.com.cn
                    </div>
                    <div class="tel">
                        <i class="icon icon-tel"></i>021-24178888
                    </div>
                </div>
                <div class="link f14">
                    <div class="touchus">监督举报</div>
                    <div class="mail">
                        <i class="icon icon-mail"></i>service@shsmile.com.cn
                    </div>
                </div>
            </div>
            <div class="box box3 l">
                <div class="mb10">
                    <p class="f14" style="color:#fff;">运营单位</p>
                    <p class="f14">万达信息股份有限公司</p>
                </div>
                <div class="attusbox">
                    <div class="attus f14" style="color:#fff;">关注我们</div>
                    <div class="attention f14">

                        <a href="javascript:void(0);" class="sns-link">
                            <i class="icon icon-weixin"></i>
                            <span class="qr-code">
                        <img src="img/index/weixiaoewm.jpg" alt="">
                        <strong>扫描二维码</strong>
                        <strong>关注上海微校公众号</strong>
                        <i></i>
                        </span>
                        </a>
                        <a href="javascript:void(0);" class="sns-link">
                            <i class="icon icon-phone"></i>
                            <span class="qr-code">
								<img src="img/index/phone.png" alt="">
								<strong>扫描二维码</strong>
								<strong>下载手机端</strong>
								<i></i>
							</span>
                        </a>


                        <a href="javascript:void(0);" class="sns-link">
                            <i class="icon icon-us"></i>
                            <span class="qr-code">
                        <img src="img/index/sinaqrcode.png" alt="">
                        <strong>扫描二维码</strong>
                        <strong>关注上海微校新浪微博</strong>
                        <i></i>
                        </span>
                        </a>
                        <a href="" class="sns-link">
                            <i class="icon icon-sina"></i>
                            <span class="qr-code">
                                <img src="img/index/weixinewm.png" alt="">
                                <strong>扫描二维码</strong>
                                <strong>关注上海微校公众号</strong>
                                <i></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright f14">
            <p>&copy; 2016-2019上海大规模智慧学习平台（上海微校） &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备05002296号-28</p>
        </div>
    </div>
</footer>