<div class="newheader">
    <div class="cwidth clearfix">
        <a class="newlogo l" href="javascript:void(0)" onclick="location.reload()">
            <img src="img/index/logo-green.png" style="width: 369px;" alt="">
        </a>
        <div class="newlogin r" style="display: none">
            <div  style="display: none">登录</div><!--class="di"-->
            <div  style="display: none">/</div><!--class="di sprit"-->
            <div  style="display: none">注册</div><!--class="di"-->
        </div>
        <div class="newsearch r" style="display: none">
            <div style="display: none"> <!--class="searchinner"-->
                <input  style="display: none" type="text" placeholder="搜索要查找的资源">
                <i class="icon_s"  style="display: none"></i>
            </div>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="cwidth">
        <ul>
            <a href="https://www.shsmile.com.cn/index"><li class="active">首页</li></a>
            <a href="https://www.shsmile.com.cn/video"  target="_blank"><li>课程资源</li></a>
            <a href="https://www.shsmile.com.cn/searchShop?orgnType=ORGN_TYPE_010"  target="_blank"><li>服务机构</li></a>
            <a href="https://www.shsmile.com.cn/u/account/info#myDocument"  target="_blank"><li>个人档案</li></a>
        </ul>
    </div>
</div>