/* iCheck plugin Square skin, blue
----------------------------------- */
.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 5px;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(green-small2.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-blue {
    background-position: -16px center;
}

.icheckbox_square-blue.hover {
    background-position: -36px center;
}

.icheckbox_square-blue.checked {
    background-position: -56px center;
}

.icheckbox_square-blue.disabled {
    background-position: -16px center;
    cursor: default;
}

.icheckbox_square-blue.checked.disabled {
    background-position: -56px center;
}

.iradio_square-blue {
    background-position: -95px center;
}

.iradio_square-blue.hover {
    background-position: -115px center;
}

.iradio_square-blue.checked {
    background-position: -135px center;
}

.iradio_square-blue.disabled {
    background-position: -95px center;
    cursor: default;
}

.iradio_square-blue.checked.disabled {
    background-position: -135px center;
}

/* HiDPI support */
/*@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}*/