<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海微校</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="js/swiper/css/style.css">
</head>
<body>
<div class="pagelayput">
    <!--header引入-->
    <div class="include-module" data-include="partial/header.html"></div>
    <!--banner部分-->
    <div class="midbanner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-center none-effect">
                    <a href="#">
                        <img src="img/index/banner.png">
                    </a>
                    <div class="layer-mask"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="img/index/banner.png">
                    </a>
                    <div class="layer-mask"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="img/index/banner.png">
                    </a>
                    <div class="layer-mask"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="img/index/banner.png">
                    </a>
                    <div class="layer-mask"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="img/index/banner.png">
                    </a>
                    <div class="layer-mask"></div>
                </div>
            </div>
            <div class="button">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <!--热门学习专题-->
    <div class="commombox hottoppic">
        <div class="cwidth">
            <h1>热门学习专题</h1>
            <div class="studytopic">
                <div class="topictab">
                    <ul>
                        <li class="current">幼小衔接</li>
                        <li>素质教育</li>
                        <li>职业培训</li>
                        <li>社区教育</li>
                    </ul>
                    <a class="clickmore" href="">更多&nbsp;·&nbsp;·&nbsp;·</a>
                </div>
                <div class="topicinner">
                    <di class="topicinnerlist younger clearfix">
                        <ul class="youngerBox"></ul>
                    </di>
                    <div class="topicinnerlist younger clearfix"  style="display: none;">
                        <ul class="youngerBox"></ul>
                    </div>
                    <div class="topicinnerlist younger clearfix" style="display: none;">
                        <ul class="youngerBox"></ul>
                    </div>
                    <div class="topicinnerlist younger clearfix" style="display: none;">
                        <ul class="youngerBox"></ul>
                    </div>
                </div>
                <div class="origin">
                    <ul>
                        <li class="on"><a>0</a></li>
                        <li><a>1</a></li>
                        <li><a>2</a></li>
                        <li><a>3</a></li>
                    </ul>
                </div>
                <div class="switching">
                    <div class="switchbtn switchpre"></div>
                    <div class="switchbtn switchnext"></div>
                </div>
            </div>
            <div class="litle-banner"><img src="img/index/litle-banner1.png" alt=""></div>
        </div>
    </div>
    <!--服务资源引导-->
    <div class="commombox serviceguide">
        <div class="cwidth">
            <h1>服务资源引导</h1>
            <div class="guide clearfix">
                <div class="l guide-left">
                    <ul>
                        <li>品牌服务<div class="trangle" style="display: none"></div></li>
                        <li>公共服务<div class="trangle"></div></li>
                        <li>社会服务<div class="trangle" style="display: none"></div></li>
                    </ul>
                </div>
                <div class="l guide-right">
                    <div class="guideinner brand" style="display: none">
                        <ul>
                            <li class="itemlist"><a href=""><img src="img/index/brand1.png" alt=""></a></li>
                            <li class="itemlist"><a href=""><img src="img/index/brand2.png" alt=""></a></li>
                            <li class="itemlist"><a href=""><img src="img/index/brand3.png" alt=""></a></li>
                            <li class="itemlist"><a href=""><img src="img/index/brand4.png" alt=""></a></li>
                            <li class="itemlist"><a href=""><img src="img/index/brand5.png" alt=""></a></li>
                            <li class="itemlist"><a href=""><img src="img/index/brand6.png" alt=""></a></li>
                            <li class="itemlist"><a href=""><img src="img/index/brand7.png" alt=""></a></li>
                            <li class="itemlist"><a href=""><img src="img/index/brand8.png" alt=""></a></li>
                            <li class="itemlist"><a href=""><img src="img/index/brand9.png" alt=""></a></li>
                            <li class="itemlist"><a href=""><img src="img/index/brand10.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="guideinner blobal">
                        <ul>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon1"></div><p>学生活动</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon2"></div><p>教师教育</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon3"></div><p>国际交流</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon4"></div><p>老年教育</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon5"></div><p>学习地图</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon6"></div><p>学生科技</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon7"></div><p>社区教育</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon8"></div><p>社会实践</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon9"></div><p>语言文字</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon10"></div><p>校外活动</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon11"></div><p>教育研究</p></a></li>
                            <li class="itemlist"><a href=""><div class="globalicon globalicon12"></div><p>学籍学历</p></a></li>
                        </ul>
                    </div>
                    <div class="guideinner social" style="display: none">
                        <ul>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon1"></div><p>上海美术馆</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon2"></div><p>公益体育</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon3"></div><p>新华书店</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon4"></div><p>机构展示</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon5"></div><p>智慧校园</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon6"></div><p>上海博物馆</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon7"></div><p>安全教育</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon8"></div><p>普法教育</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon9"></div><p>上海青少年活动中心</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon10"></div><p>图书阅读</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon11"></div><p>体育技能</p></a></li>
                            <li class="itemlist"><a href=""><div class="socialicon socialicon12"></div><p>职业能力</p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="litle-banner"><img src="img/index/litle-banner2.png" alt=""></div>
        </div>
    </div>
    <div class="cwidth clearfix">
        <!--推荐机构展示-->
        <div class="commombox orgshow l">
            <h1>推荐机构展示</h1>
            <a class="clickmore" href="">更多&nbsp;·&nbsp;·&nbsp;·</a>
            <div class="showorg organize">
                <ul id="showorg"></ul>
            </div>
        </div>
        <!--申请入驻-->
        <div class="commombox apply r">
            <h1>申请入驻</h1>
            <div class="applyinner">
                <a href="" target="_blank">
                    <div><img src="img/index/apply-bg.png" alt=""></div>
                    <button class="merchantsbtn">申请入驻</button>
                </a>
            </div>
        </div>
    </div>

    <!--footer引入-->
    <div class="include-module" data-include="partial/footer.html"></div>
</div>
<script id="orginaze-tpl2" type="text/html">
    {{each Data as value index}}
    <li class="orgitem">
        <div class="orgitem-list">
            <div class="orgitem-img">
                <a href="">
                    <img src="{{value.Image}}" style="width: 212px;height: 140px;" class="err_prouct_new">
                </a>
            </div>
            <div class="g_price clear">
                <div class="safe fL">
                    <span class="l"></span>
                </div>
                <strong class="fL">{{value.Name}}</strong>
                <em class="fR" style="margin-top:5px;color: #999;">学科辅导</em>
            </div>
            <div class="g_text clearfix">
                <div class="comment_star star5" style="margin: 8px 0;"></div>
                <span>{{value.appraise}}条评论</span>
                <span class="">效果 9.0 &nbsp;师资 9.0 &nbsp;环境 8.9</span>
            </div>
            <div class="g_position">
                <div class="g_area di" style="width: 200px;">
                    <i class="icon_area"></i>
                    <span class="area_w">友谊路199号新宝山大厦4楼4b</span>
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</script>
</body>
<script type="text/javascript" src="js/sea.js"></script>
<script>
    seajs.use(["include","swiper"], function() {
        //banner轮播
        var swiper = new Swiper('.swiper-container',{
            autoplay: false,
            speed: 2000,
            autoplayDisableOnInteraction: false,
            loop: true,
            centeredSlides: true,
            slidesPerView: 2,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
            onInit: function(swiper) {
                swiper.slides[2].className = "swiper-slide swiper-slide-active";
            },
            breakpoints: {
                668: {
                    slidesPerView: 1,
                }
            }
        });
        // 热门专题学习
        getList();
        function getList(){
            $.ajax({
                type:'get',
                url:'data/topic.json',  //接口地址
                dataType: "json",
                success:function(result){
                    var dataObj = result; //返回的result为json格式的数据
                    $.each(dataObj,function(i,val){
                        var topicLi = $('<li class="youngeritem" style="height: 270px;"><div class="youngeritem-list"><div class="youngeritem-img"><a href="" target="_blank"><img class="err_prouct_new" src="'+val.imgUrl+'"></a></div><div class="youngeritem-title clear">'+val.title+'</div><div class="youngeritem-from clearfix"><span class="iconfrom"></span><span class="gfrom">来源：'+val.from+'</span></div></div></li>');
                        $(".youngerBox").append(topicLi);
                    });
                }
            });
        }
        function ChangeLi(Index){
        	var $topicinnerList = $(".topicinner").children();
            var tabLi = $(".topictab").find("li");
            var item = $(".origin").find("li");
            tabLi.eq(Index).addClass("current").siblings().removeClass("current");
            item.eq(Index).addClass("on").siblings().removeClass("on");
            $topicinnerList.eq(Index).show().siblings().hide();
           
        }
        //热门学习专题
        $(".topictab>ul>li").on("click",function(){
            ChangeLi($(this).index());
        });
        // 小圆点点击
        $(".origin>ul>li").on("click",function(){
            var $this = $(this);
           ChangeLi($(this).index());
        });
        // 向右箭头点击
        $(".switchnext").on("click",function(){
            var $topicinner = $(".topicinner");
            var tabLi = $(".topictab").find("li");
            var liLength = $(".topictab").find("li").length;
            var thisLi = $(".topictab").find("li.current");
            var thisLiIndex = thisLi.index();
            if(thisLiIndex==liLength-1){
            	ChangeLi(0);
            	return
            }
            ChangeLi(thisLiIndex+1);
        });
        // 向左箭头点击
        $(".switchpre").on("click",function(){
             var $topicinner = $(".topicinner");
            var tabLi = $(".topictab").find("li");
            var liLength = $(".topictab").find("li").length;
            var thisLi = $(".topictab").find("li.current");
            var thisLiIndex = thisLi.index();
            if(thisLiIndex==0){
            	ChangeLi(liLength-1);
            	return
            }
            ChangeLi(thisLiIndex-1);   
        });
        //服务资源引导
        $(".guide-left>ul>li").on("click",function(){
            var $this = $(this);
            var Index = $this.index();
            var guideleft = $(this).parents(".guide-left");
            $this.children(".trangle").show();
            $this.siblings().children(".trangle").hide();
            guideleft.siblings(".guide-right").find(".guideinner").eq(Index).show().siblings().hide();
        });
        //推荐机构展示
        renderList({
            url: "data/groom.json",
            id: "showorg",
            tpl: "orginaze-tpl2"
        }, function() {
            $(".palystar").each(function() {
                var $this = $(this);
                var starNum = $this.html();
                $this.studyplay_star({
                    theme: "weixiao",
                    StarWidth: 15,
                    MaxStar: 5,
                    CurrentStar: starNum,
                    Enabled: false
                });
            });
        });
    });
</script>
</html>